[Unit]
Description=Solar to InfluxDB Service
After=syslog.target network.target

[Service]
WorkingDirectory=/home/yannick/weberhome/charging/build/install/charging/bin
SuccessExitStatus=143
User=yannick
Type=simple

ExecStart=/bin/bash ./charging
ExecStop=/bin/kill -15 $MAINPID

Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target